<header>
    <button onclick="backwardArrow()" class="header_link">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="header_link">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
</header>
