<nav>
    <ul>
        <li>
            <a href="/" class="nav_link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a href="/groups" class="nav_link">
                <i class="fa-solid fa-people-group"></i>
            </a>
        </li>
        <li>
            <a href="/tickets/createTicket" class="nav_link main">
                <i class="fa-solid fa-plus"></i>
            </a>
        </li>
        <li>
            <a href="/" class="nav_link">
                <i class="fa-solid fa-ticket"></i>
            </a>
        </li>
        <li>
            <a href="/" class="nav_link">
                <i class="fa-solid fa-list-check"></i>
            </a>
        </li>
    </ul>
</nav>
